/* Styling for the Header */

/* Boxes */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: var(--greyLight-1);
}

.inner {
    border-radius: 3rem;
    box-shadow:
        0.8rem 0.8rem 1.4rem var(--greyLight-2),
        -0.2rem -0.2rem 1.8rem var(--white);
    padding: 1rem;
    width: 46rem;
    height: 9rem;
}

/* "PLAYLIST"*/
.title-text {
    font-size: 4rem;
    font-weight: 800;
    display: inline-block;
    animation: gradient-move 3s infinite;
    position: relative;
}

/* "LLM" Gradient */
.title-text span {
    background: linear-gradient(90deg, #6d5dfc, #5b0eeb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Creates the underline hover*/
.title-text::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 8px;
    background: linear-gradient(90deg, #6d5dfc, #5b0eeb);
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.title-text:hover::after {
    transform: scaleX(1);
}

/* "A Spotify playlist generator leveraging the power of AI." */
.subtitle-text span {
    position: relative;
}

.subtitle-text span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #6d5dfc, #5b0eeb);
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

.subtitle-text span:hover::after {
    transform: scaleX(1);
}

/* Hover Animation */
@keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
