/*  FORM  */
.inputs input {
    border: none;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    background: none;
    color: var(--dark);
}

.inputs input::placeholder {
    color: var(--greyDark);
}

.inputs input:focus {
    outline: none;
    box-shadow: var(--inner-shadow);
    transition: all 0.5s ease;
}

.inputs select {
    border: none;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    background: none;
    color: var(--dark);
}

.inputs select:focus {
    outline: none;
    box-shadow: var(--inner-shadow);
    transition: all 0.5s ease;
}

.inputs select::placeholder {
    color: var(--greyDark);
}

.inputs select option {
    background-color: var(--dark);
    color: var(--white);
}

/* Tab Bar */
.segmented-control {
    /* margin: 5px; */
    width: 46rem;
    height: 4rem;
    box-shadow: var(--shadow);
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    position: relative;
}

.segmented-control input {
    display: none;
}

.segmented-control label {
    width: 9rem;
    text-align: center;
    cursor: pointer;
    color: var(--dark);
    font-weight: 600;
}

.segmented-control label:hover {
    color: var(--primary-dark);
    transition: all 0.5s ease;
}

.segmented-control input:checked + label {
    color: var(--primary-dark);
    transition: all 0.5s ease;
}

.segmented-control__indicator {
    position: absolute;
    height: 3.4rem;
    width: 9rem;
    margin-left: 0.3rem;
    border-radius: 0.8rem;
    box-shadow: var(--inner-shadow);
    pointer-events: none;
    transform: translateX(0);
    /* Default Position */
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Transition effects */
#tab-1:checked ~ .segmented-control__indicator {
    transform: translateX(0);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-2:checked ~ .segmented-control__indicator {
    transform: translateX(9rem);
    /* Move 1 tab's width */
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-3:checked ~ .segmented-control__indicator {
    transform: translateX(18rem);
    /* Move 2 tabs' widths */
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-4:checked ~ .segmented-control__indicator {
    transform: translateX(27rem);
    /* Move 3 tabs' widths */
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#tab-5:checked ~ .segmented-control__indicator {
    transform: translateX(36rem);
    /* Move 4 tabs' widths */
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* "Create Playlist" Button */
.send-button {
    width: 15rem;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;

    background: var(--primary);
    box-shadow:
        inset 0.2rem 0.2rem 1rem var(--primary-light),
        inset -0.2rem -0.2rem 1rem var(--primary-dark),
        var(--shadow);
    color: var(--greyLight-1);
}

.send-button:hover {
    color: var(--white);
    box-shadow: none;
}

.send-button:active {
    box-shadow:
        inset 0.4rem 0.4rem 1rem var(--primary-dark),
        inset -0.4rem -0.4rem 1rem var(--primary-light);
}
